[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "==4.5.5.64"
numpy = "*"
matplotlib = "*"
pytesseract = "==0.3.10"

[dev-packages]

[requires]
python_version = "3.9"
